#employeeForm {
    margin: 1rem auto;
    width: 40%;
    border: 2px solid rgb(0, 0, 0);
    display: grid;
    gap: 12px;
    place-items: center;
}

#employeeForm label {
    display: block;
}

#employeeForm input {
    display: block;
}


